html {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: #001a33;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    color: #777;
}

.mat-raised-button.green-btn {
    background: darkgreen;
    color: white;
    text-transform: uppercase;
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    color: #fff;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #aaa;
}

.space-fill {
    flex: 1 1 auto;
}

article:not(.transperant-div) {
    flex: 1 1 auto;
    background: #e9e9e9;
}

article>div {
    width: 100%;
    height: 100%;
}

article div.content {
    height: calc(100% - 4rem);
}

article .page-title {
    max-height: 2rem;
    overflow: hidden;
}

article .page-title>div {
    display: flex;
    padding: 0 1.2rem;
    color: #efe;
    background-color: #001a33;
    letter-spacing: 1px;
    font-size: .9rem;
    line-height: 2rem;
    box-shadow: inset 0 11px 8px -11px #ddd, inset 0 -11px 8px -20px #ddd;
}

.page-title .info-cell {
    font-weight: 400;
}

.page-title .logout-link {
    cursor: pointer;
    color: white;
}

.page-title .mat-icon {
    font-size: .2rem;
}

.small {
    font-size: .7rem;
}

.action-btn {
    font-size: 1em;
}

.spinner-container {
    position: relative;
    height: 100%;
    text-align: center;
}

.spinner-container .mat-progress-spinner {
    margin: 2rem auto;
}

.btn-green {
    background: darkgreen;
    color: white;
}

.green-font {
    color: green;
}

.red-font {
    color: red;
}

.processing-div {
    font-size: .9rem;
    font-style: italic;
    color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error-div {
    font-size: .6rem;
    min-height: 1rem;
    line-height: 1em;
    margin: .3rem 0;
    color: red;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #001a33;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #001a33;
}

.mat-input-element {
    font-size: 0.8rem;
}

.mat-form-field-appearance-legacy .mat-hint.error-div {
    color: red;
    font-size: 0.6rem;
    margin-top: 0;
}

.mat-menu-content {
    padding: 0;
}

.mat-checkbox-label {
    color: #777;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #001a33;
}

@media screen and (min-width: 500px) {
    html {
        font-size: calc( 14px + 8 * ((100vw - 500px) / 1500));
    }
}