<dashboard-header *ngIf="user"></dashboard-header>
<main *ngIf="user">
    <side-nav></side-nav>
    <article>
        <div>
            <div class="page-title">
                <div>
                    <div>{{title}}</div>
                    <div class="space-fill"></div>
                    <div class="small info-cell">

                        You've logged in as {{ user.Username }} | <span (click)="logout()" class="logout-link">LOGOUT</span>
                    </div>
                </div>
            </div>

            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </article>
</main>
<home-page *ngIf="!user"></home-page>