.header {
    z-index: 100;
    box-shadow: 0 3px 5px -1px rgba(196, 179, 179, 0.2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    width: 100%;
    background: #001a33;
}

.header-inner {
    max-width: 100%;
    display: flex;
    color: #fff;
}

.header-inner>div {
    padding: 0 10px 0 10px;
    vertical-align: middle;
}

.header {
    height: 4rem;
}

.header-inner img {
    max-height: 2.5rem;
    width: 8rem;
    margin: 10px;
}

.app-name {
    line-height: 4rem;
    font-size: 2rem;
    color: #00bcd4;
    margin-right: 1rem;
}