.side-nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    min-width: 5rem;
}

.side-nav div.icon {
    padding: 1rem 0 0 0;
}

.mat-icon {
    font-size: 3rem;
    cursor: pointer;
    margin: 1rem 1rem 0 1rem;
}

.label {
    visibility: hidden;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-align: center;
}

.hidden .label {
    visibility: hidden;
}

.visible .label {
    visibility: visible;
}

.side-nav>span:hover,
.icon:hover,
.label:hover {
    color: #00bcd4;
    cursor: pointer;
}